#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&lt {
    tapping-term-ms = <400>;
    quick-tap-ms = <100>;
};

&mt { tapping-term-ms = <800>; };

/ {
    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;

            // <---[[moderate duration]]

            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        macro_vim_save: vim_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp ENTER>;
            label = "VIM_SAVE";
        };

        macro_previous_folder: macro_previous_folder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings = <&kp DOT &kp DOT &kp FSLH>;
            label = "MACRO_PREVIOUS_FOLDER";
        };

        macro_vim_replace: replace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp COLON &kp PERCENT &kp S &kp SLASH>;
            label = "REPLACE";
        };

        macro_paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp V>;
            label = "PASTE";
        };

        clear_highlight: clear_highlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp N &kp O &kp N &kp ENTER>;
            label = "CLEAR_HIGHLIGHT";
        };
    };

    combos {
        compatible = "zmk,combos";

        Esc_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <32 33>;
            layers = <0>;
        };

        Save_buffer {
            bindings = <&macro_vim_save>;
            key-positions = <27 28>;
            layers = <0>;
        };

        Clear_HL_Combo {
            bindings = <&clear_highlight>;
            key-positions = <48 49>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // ---------------------------------------------------------------------------------------------------------------------------------------------
            //            |  `  |  1  |  2  |  3  |  4  |  5  |                                             |  6  |  7  |  8  |  9  |  0  |  '  |
            //            | TAB |  Q  |  W  |  E  |  R  |  T  |                                             |  Y  |  U  |  I  |  O  |  P  |  [  | 
            //    |  ESC  |CTRL |  A  |  S  |  D  |  F  |  G  |                                             |  H  |  J  |  K  |  L  |  ;  |  '  |  \   |
            //            |SHIFT|  Z  |  X  |  C  |  V  |  B  |  DEL  |                              | BSPC |  N  |  M  |  ,  |  .  |  /  |  -  |
            //                        | GUI | ALT |SPACE|RAISE| ENTER |                              | ENTER|  =  |SPACE|MO(1)|MO(2)|
            // ---------------------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&kp GRAVE         &hm F1 NUMBER_1  &hm F2 NUMBER_2  &hm F3 NUMBER_3  &hm F4 NUMBER_4  &hm F5 N5                      &hm F6 NUMBER_6  &hm F7 N7        &hm F8 N8    &hm F9 N9      &hm F10 N0       &kp SQT
&kp TAB           &kp Q            &kp W            &kp E            &kp R            &kp T                          &kp Y            &kp U            &kp I        &kp O          &kp P            &kp MINUS
&lt 4 ESCAPE      &kp CAPSLOCK     &kp A            &kp S            &kp D            &kp F      &kp G                                &kp H            &kt J        &kp K          &kp L            &hm RIGHT_CONTROL SEMICOLON  &kp EQUAL  &lt 3 ESCAPE
&kp LEFT_CONTROL  &kp Z            &kp X            &kp C            &kp V            &kp B      &kp DELETE  &trans  &trans           &kp BACKSPACE    &kp N        &kp M          &kp COMMA        &kp PERIOD                   &kp FSLH   &kp RIGHT_CONTROL
                  &kp LEFT_GUI     &kp LEFT_ALT     &lt 2 SPACE      &kp LEFT_SHIFT   &kp ENTER                      &kp ENTER        &kp RIGHT_SHIFT  &lt 1 SPACE  &kp RIGHT_ALT  &kp PRINTSCREEN
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        NAV {
            bindings = <
&kp ESC  &none               &none               &none             &none                &none                  &none        &none           &none           &none         &none            &none
&none    &kp HOME            &kp UP_ARROW        &kp END           &none                &none                  &kp PAGE_UP  &kp PAGE_DOWN   &none           &none         &none            &none
&kp TAB  &none               &kp LEFT_ARROW      &kp DOWN_ARROW    &kp RIGHT_ARROW      &none  &none                        &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none  &kp ESC
&none    &kp LC(LEFT_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &none  &kp DEL  &none  &none        &kp BACKSPACE   &none           &none         &none            &none  &none  &none
         &none               &none               &none             &none                &none                  &none        &none           &none           &none         &none
            >;
        };

        NUM {
            // ---------------------------------------------------------------------------------------------------------------------------------------------
            //            |     |     |     |     |     |     |                                          |     |     |     |     |     |     |
            //            |     | HOME|  UP | END |     |     |                                          |     |HOME |     |END  |     |     |
            //       |    |     | LEFT| DOWN|RIGHT|     |     |                                          |SCLUP|LEFT |  UP |  A  |PG_UP|     |    |
            //            |     |     |     |     |     |     |     |                              |     |SCLDN|LEFT | DOWN|RIGHT|PG_DN|     |
            //                        |     |     |     |     |     |                              |     |     |     |     |     |
            // ---------------------------------------------------------------------------------------------------------------------------------------------

            bindings = <
&kp GRAVE  &kp N7  &kp N8  &kp N9   &kp PLUS   &kp ASTERISK                    &none                 &none                  &none              &none            &none             &none
&kp TAB    &kp N4  &kp N5  &kp N6   &kp MINUS  &kp EQUAL                       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE     &kp RIGHT_BRACE  &kp UNDERSCORE    &kp PIPE
&kp ESC    &none   &kp N1  &kp N2   &kp N3     &kp FSLH      &kp TILDE                               &kp LEFT_BRACKET       &kp RIGHT_BRACKET  &kp LESS_THAN    &kp GREATER_THAN  &kp PERCENT   &kp CARET      &none
&none      &kp N0  &none   &kp DOT  &none      &none         &kp DEL    &none  &none                 &kp BACKSPACE          &kp HASH           &kp DOLLAR       &kp EXCLAMATION   &kp QUESTION  &kp AMPERSAND  &kp AT_SIGN
           &none   &none   &none    &none      &none                           &none                 &none                  &none              &none            &none
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        SYM {
            bindings = <
&none            &kp LEFT_BRACE  &kp RIGHT_BRACE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET                       &kp RIGHT_BRACKET  &kp ASTERISK   &kp PLUS     &kp EQUAL   &kp PIPE        &kp BACKSLASH
&none            &kp LESS_THAN   &kp GREATER_THAN  &kp COLON             &kp SEMICOLON          &kp DOUBLE_QUOTES                      &kp SQT            &kp CARET      &kp PERCENT  &kp DOLLAR  &kp UNDERSCORE  &kp TILDE
&macro_vim_save  &none           &kp GRAVE         &kp HASH              &kp EXCLAMATION        &kp AMPERSAND      &kp AT_SIGN                            &kp QUESTION   &kp COMMA    &kp PERIOD  &kp SLASH       &kp BACKSLASH  &none  &none
&none            &none           &none             &none                 &none                  &none              &kp DELETE   &none  &none              &kp BACKSPACE  &none        &none       &none           &none          &none  &none
                 &none           &none             &none                 &none                  &none                                  &none              &none          &none        &none       &none
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

        SYS {
            bindings = <
&kp PRINTSCREEN  &kp F1          &kp F2            &kp F3      &kp F4      &kp F5                                     &kp F6          &kp F7           &kp F8                          &kp F9                           &kp F10                            &kp F11
&none            &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp K_MUTE  &kp C_NEXT  &kp C_VOLUME_UP                            &rgb_ug RGB_ON  &rgb_ug RGB_BRI  &rgb_ug RGB_COLOR_HSB(0,0,100)  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(243,100,50)  &kp F12
&kp ESCAPE       &none           &none             &none       &none       &none            &kp C_VOLUME_DOWN                         &rgb_ug RGB_OFF  &rgb_ug RGB_BRD                 &rgb_ug RGB_EFR                  &rgb_ug RGB_EFF                    &none    &none  &none
&sys_reset       &none           &none             &none       &none       &none            &kp DEL            &none  &none           &kp BACKSPACE    &none                           &none                            &none                              &none    &none  &none
                 &none           &none             &none       &none       &none                                      &none           &none            &none                           &none                            &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };
    };
};
